*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
}